doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.min.css')
    //-link(rel='stylesheet', href='stylesheets/bootstrap-combined.min.css')
    link(rel='stylesheet', href='stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/moment.js')

    //-link(rel="stylesheet", href="http://dreamsky.github.io/main/blog/common/init.css")
    //-script(src="http://dreamsky.github.io/main/blog/common/jquery.min.js")
    //-script(src="http://dreamsky.github.io/main/blog/common/init.js")
  body
    block content