*{
	margin:0;
	padding:0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*top-header*/
#top-header{
	width: 100%;
	height: 350px;
	background-color: #0078d8;
}
#top-header #top-header-inner{
	margin:0 auto;
	width: 800px;
	height: auto;
}
#top-header #top-header-inner .top-left{
	padding-top:110px;
	float: left;
	color:white;
}
#top-header #top-header-inner .top-left h1{
	font-size:45px;
}
#top-header #top-header-inner .top-left p{
	font-size:20px;
}
#top-header #top-header-inner .top-right{
	padding: 40px 60px;
	float:right;
	width: 350px;
	height: auto;
}
#top-header #top-header-inner .top-right #form-header{
	font-size: 18px;
}

#top-header #top-header-inner .top-right #form-header .clear{
	clear:both;
}

#top-header #top-header-inner .top-right #form-header p{
	color: white;
	display: inline-block;
	float: left;
}
#top-header #top-header-inner .top-right #form-header a{
	color:white;
	display: inline-block;
	float: right;
	text-decoration: none;
	border: 1px solid #0078D8;
}
#top-header #top-header-inner .top-right #form-header a:hover{
	text-decoration: none;
	border: 1px solid white;
	border-radius: 4px;
}
#top-header #top-header-inner .top-right #form-header a:active{
	text-decoration: none;
}
input[type='submit']{
	font-size: 16px;
	color: white;
	background: #80C3F7;
}
#signup{
	display: none;
}
.inline{
	display: inline-block;
	width: 100px;
	margin-bottom: 16px;
}
.left{
	float:left;
}
.right{
	float: right;
}
#top-header #login{
	padding-top: 25px;
}
#top-header #login p{
	color:white;
	font-size: 16px;
}
/*#header #nav*/
#header{
	width: 100%;
	height: 45px;
	background: #0767c8;
	margin: 0;
	padding: 0;
}
#header #nav{
	width: 960px;
	margin: 0 auto;
	height: auto;
}
#header #nav ul{
	list-style: none;
	font-size: 16px;
	color:white;
	line-height: 45px;
}
#header #nav ul li{
	display: inline-block;
	margin-right: 30px;
}
#header #nav ul li a{
	color:white;
	text-decoration: none;
}
#header #nav ul li #logo{
	font-size: 28px;
}
#header #nav-form{
	height: 45px;
	position: absolute;
	width: 350px;
	top:5px;
}
#header #nav-submit{
	position: absolute;
	top:1px;
	right: 0;
	width: 35px;
	height: 30px;
	border:0;
}
#home-page{
	margin-left: 350px;
}
#profile{
	margin-right: 0;
}









